.place-holder {
    font: 12pt;
}
// .dash-cont {
//     transform: translateY(8vh);
//   }
  
//   .user-banner {
//     width: 100vw;
//     margin-bottom: 3rem;
//     overflow-x: hidden;
//   }
  
//   .user-avatar {
//     position: absolute;
//     width: 20vw;
//     top: 100px;
//     left: 25px;
//     border-radius: 50%;
//     border: 5px solid #ffffff;
//   }
  
//   .user-header {
//     margin-left: 5vw;
//   }
  
//   .user-name {
//     margin-top: 3vh;
  
//     font-family: "Poppins", sans-serif;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 30px;
//   }
  
//   .user-links {
//     font-family: "Poppins", sans-serif;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 12px;
//   }
  
//   .user-summary {
//     width: 90vw;
//     margin-top: 1vh;
//     font-family: "Poppins", sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 15px;
//     overflow-x: hidden;
//   }
  